<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>sj.db.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>sj.db.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>sj.db.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookListServlet</display-name>
    <servlet-name>BookListServlet</servlet-name>
    <servlet-class>sj.db.servlet.BookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookListServlet</servlet-name>
    <url-pattern>/BookListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>sj.db.servlet.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookFindByManyCondition</display-name>
    <servlet-name>BookFindByManyCondition</servlet-name>
    <servlet-class>sj.db.servlet.BookFindByManyCondition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookFindByManyCondition</servlet-name>
    <url-pattern>/BookFindByManyCondition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAddServlet</display-name>
    <servlet-name>BookAddServlet</servlet-name>
    <servlet-class>sj.db.servlet.BookAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAddServlet</servlet-name>
    <url-pattern>/BookAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookEditServlet</display-name>
    <servlet-name>BookEditServlet</servlet-name>
    <servlet-class>sj.db.servlet.BookEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookEditServlet</servlet-name>
    <url-pattern>/BookEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookFindByIdServlet</display-name>
    <servlet-name>BookFindByIdServlet</servlet-name>
    <servlet-class>sj.db.servlet.BookFindByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookFindByIdServlet</servlet-name>
    <url-pattern>/BookFindByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDeleteServlet</display-name>
    <servlet-name>BookDeleteServlet</servlet-name>
    <servlet-class>sj.db.servlet.BookDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDeleteServlet</servlet-name>
    <url-pattern>/BookDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecordListServlet</display-name>
    <servlet-name>RecordListServlet</servlet-name>
    <servlet-class>sj.db.servlet.RecordListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordListServlet</servlet-name>
    <url-pattern>/RecordListServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>sj.db.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>