html, body, div, span, input, textarea, applet, em, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
    font-style: normal;
    letter-spacing: 1px;
}

ul, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, i {
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
    background-size: cover;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

a:link {
    color: #34495e;
}

a:visited {
    color: #34495e;
}

img {
    border: none;
}





.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    width: 0;
    margin: 0;
    padding: 0;
}

.ell {
    overflow: hidden;
    word-break: break-all;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}